<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Download</h1>
        <p>Get Jet</p>
      </div>
    </div>  
  </div>
</div>

<div clas

<div class="container">
  <div class="row">
    <div class="col-12">
      <section>
        <div class="page-header">
          <h1>Prerequisites</h1>
        </div>
        <p>Java 7 is required to build and run Jet.</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">

      <section>
        <div class="page-header">
          <h1>Binaries</h1>
        </div>
        <p>Download the <a href="https://github.com/volcra/jet/releases/download/v0.1.1/jet-0.1.1.zip">ZIP</a>
          file and extract.</p>
      </section>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <section>
        <div class="page-header">
          <h1>Building from Source</h1>
        </div>
        <p>Download the project from GitHub <img src="img/octocat-icon.png" width="28" height="23">
          <a href="https://github.com/volcra/jet">GitHub</a>.</p>
        <pre class="screen">git clone git://github.com/volcra/jet.git</pre>
        <p>Or just download the <a href="https://github.com/volcra/jet/zipball/master">ZIP</a> and exract in a directory of your choice.</p>
        <h2>Compile and Package</h2>
        <p>Gradle is used as build tool. The Gradle wrapper is provided for quick development. Gradle will be automatically
          downloaded and used to run the build.</p>
        <h3>Windows</h3>
        <p>In Windows the batch script is called <code>gradlew.bat</code>.</p>
        <h3>Unix</h3>
        <p>In Unix the batch script is <code>gradlew</code>.</p>
        <h3>Build</h3>
        <pre class="screen">gradlew installApp</pre>
        <p>The <code>installApp</code> task is provided by the application plugin. This will create the executable with all
          the dependencies in the directory <code>${basedir}\build\install\jet</code>.</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <section>
        <div class="page-header">
          <h1>Install</h1>
        </div>
        <ol>
          <li>Create the Environment Variable <code>JET_HOME</code>.
            <p>If you are using the sources point to <code>${basedir}\build\install\jet</code>.</p>
          </li>
          <li>Add <code>JET_HOME</code> to your <code>PATH</code>
            <p><code>PATH=$PATH;%JET_HOME%\bin;</code></p>
          </li>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <section>
        <div class="page-header">
          <h1>Verify</h1>
        </div>
        <p>Execute the command and you should expect the following output.</p>
        <pre class="screen">$>jet -h
usage: jet [options] [directories]
Options
 -h,--help          Print Help.
 -p,--port &lt;port&gt;   The Web Server port number. Defaults to 8080</pre>
        <p>Now you are ready to head to the <a href="#/usage">Usage</a> page.</p>
      </section>
    </div>
  </div>

</div>
