<div class="masthead">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Jet</h1>
        <p class="lead">Jetty Web Server made simple</p>
        <p class="visible-sm">
          <a href="https://github.com/volcra/jet/releases/download/v0.1.2/jet-0.1.2.zip" class="btn btn-danger">Download</a>
        </p>
        <p class="hidden-sm">
          <a href="https://github.com/volcra/jet/releases/download/v0.1.2/jet-0.1.2.zip" class="btn btn-lg btn-danger">Download</a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <section>
        <p class="lead"><strong>Jet</strong> is a command line tool used to Run Jetty primary as a Web Server.</p>
      </section>

      <section>
        <div class="page-header text-center">
          <h1>Quick Start</h1>
        </div>
        <h2>Command-Line</h2>
        <p>Download or build from source. For instructions go to <a href="#/download">Download</a>.</p>
        <p>Then run Jet on any directory to expose that directory as a Web Site.</p>
        <pre class="screen">$>jet .
Feb 22, 2015 4:03:36 PM org.eclipse.jetty.util.log.Log initialized
INFO: Logging initialized @960ms
Feb 22, 2015 4:03:36 PM org.eclipse.jetty.server.Server doStart
INFO: jetty-9.2.8.v20150217
Feb 22, 2015 4:03:36 PM org.eclipse.jetty.server.AbstractConnector doStart
INFO: Started ServerConnector@5a770658{HTTP/1.1}{0.0.0.0:8080}
Feb 22, 2015 4:03:36 PM org.eclipse.jetty.server.Server doStart
INFO: Started @1177ms</pre>
        <p>Your site is up at running <a href="http://localhost:8080">http://localhost:8080</a></p>
      </section>

    </div>
  </div>
</div>
