<div class="jumbotron">
  <div class="container">
    <h1>Jet</h1>
    <p class="lead">Jetty Web Server made simple</p>
    <div class="visible-phone">
      <p><a href="https://github.com/volcra/jet/zipball/master" class="btn btn-primary">Download</a> <a href="https://github.com/volcra/jet" class="btn">GitHub Project</a></p>
    </div>
    <div class="hidden-phone">
      <p>
        <a href="http://downloads.volcra.com/org/jet/0.0.1-SNAPSHOT/jet-0.0.1-SNAPSHOT.zip" class="btn btn-large btn-primary">Download</a>
        <a href="https://github.com/volcra/jet" class="btn btn-large">GitHub Project</a>
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span12">
      <section>
        <p class="lead"><strong>Jet</strong> is a command line tool used to Run Jetty primary as a Web Server.</p>
      </section>

      <section>
        <div class="page-header text-center">
          <h1>Quick Start</h1>
        </div>
        <h2>Command-Line</h2>
        <p>Download or build from source. For instructions go to <a href="#/download">Download</a>.</p>
        <p>Then run Jet on any directory to expose that directory as a Web Site.</p>
        <pre><code hljs class="bash">$>jet .
Jun 20, 2013 3:27:26 PM org.eclipse.jetty.server.Server doStart
INFO: jetty-9.0.3.v20130506
Jun 20, 2013 3:27:26 PM org.eclipse.jetty.server.AbstractConnector doStart
INFO: Started ServerConnector@6cf04d6b{HTTP/1.1}{0.0.0.0:8080}
Hit enter to stop</code></pre>
        <p>Your site is up at running <a href="http://localhost:8080">http://localhost:8080</a></p>
      </section>

    </div>
  </div>
</div>
