<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Usage</h1>
        <p>How to get started</p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <section>
        <div class="page-header">
          <h1>Getting Started</h1>
        </div>
        <p>You need to first get Jet, go to the <a href="#/download">Download</a> page for more information on how to install and set up Jet.</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <section>
        <div class="page-header">
          <h1>Getting Help</h1>
        </div>
        <p>Run Jet passing <code>-h</code> or <code>--help</code> to get help.</p>
        <pre class="screen">$>jet --help
usage: jet [options] [directories]
Options
 -h,--help          Print Help.
 -p,--port &lt;port&gt;   The Web Server port number. Defaults to 8080</pre>
      </section>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <section>
        <div class="page-header">
          <h1>Command-Line Usage</h1>
        </div>
        <h2>Options</h2>
        <h3 class="code">-p,--port</h3>
        <p>The Web Server port number, defaults to 8080.</p>
        <pre class="screen">$>jet -p 80
Jun 20, 2013 3:31:17 PM org.eclipse.jetty.server.Server doStart
INFO: jetty-9.0.3.v20130506
Jun 20, 2013 3:31:17 PM org.eclipse.jetty.server.AbstractConnector doStart
INFO: Started ServerConnector@6cf04d6b{HTTP/1.1}{0.0.0.0:80}
Hit enter to stop</pre>
        <p>That will change port 8080 to 80 <a href="http://localhost">http://localhost</a></p>
      </section>
    </div>
  </div>

</div>
